.jewell-app-cart-page {
    margin: 20px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.jewell-app-cart-page-outer {

    height: 300px;
    /* border: 1px solid; */
}

.jewell-app-cart-page-outer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jewell-app-cart-page-outer-inner-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.jewell-app-cart-page-text-1 {
    color: #222;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-family: "nunito_sansregular";
    font-weight: bold;
}

.jewell-app-cart-page-text-2 {
    font: 400 14px "Fraunces", serif;

}

.jewell-app-cart-page-text-3 {
    font: 400 12px "IBM Plex Sans", sans-serif;
    color: #999;

}
.jewell-app-cart-page-text-align{
    padding: 20px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
.jewell-app-cart-page-close-tab{
    padding: 10px;
    display: flex;
    justify-content: end;
    column-gap: 20px;
}